body {
    background-repeat: no-repeat; /* Do not repeat the image */
}

.wrapper {
    margin: auto;
    max-width: 600px;
    width: 90%;
}

#afisaj, #instructiuni, #butoane{
    color: white;
    background-color: royalblue;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
}

#afisaj {
    font-size: 100px;
    opacity: 0.7;
    margin-top: 25%;
}

ul,h1,h2,h3 {
    margin: 0px;
}

h3 {
    margin-top: 5px;
}

button {
    background-color: azure;
    border: 0px;
    padding: 8px 20px;
}